@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Jost');

* {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', 'Jost';
}

body {
  background-color: #e5e9e6;
}

p {
  font-family: 'Jost';
}

.container {
  position: relative;
  height: 200px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.7;
}

.container:hover .middle {
  opacity: 1;
}

button {
  font-family: 'Jost';
  font-weight: 600;
}